*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: Helvetica;

}
body {
    background: rgb(78, 46, 78);
}
header{
    display: flex;
    align-items: center;
}
header img{
    height: 36px;
}

h1 {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}
.container{
    max-width: 960px;
    margin: 0 auto;
}

form {
    text-align: center;
    width: 300px;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

button {
    padding: 8px 15px;
    background-color: #741d5e;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #56053c;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 2px solid #060505;
}

th, td {
    padding: 8px;
    text-align: center;
}

th {
    background-color: #741d5e;
    color: black;
}
table td img{
    height: 28px;
    padding: 1px;
}
